.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 92px;
  padding-left: 50px;
  padding-right: 50px;
}

.header_menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_underlined {
  position: relative;
  text-decoration: none;
}

.header__link_underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.header__logo-image {
  height: 105px;
  width: 148px;
}

.address {
  font-style: normal;
  justify-self: flex-end;
  max-width: 240.5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125% auto;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  margin-top: 165px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 135px;
  gap: 5px;
}

.letter-spacing {
  display: inline-block;
  letter-spacing: 60px;
}
.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: -25px;
}

.cover__description {
  display: flex;
  gap: 79px;
  margin-bottom: 51px;
  align-items: center;
  z-index: 2;
  margin-left: 78px;
}

.cover__description-text {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  line-height: 127%;
  color: #fff;
  text-align: left;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 179px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  margin-top: 27px;
  list-style: none;
}

.card {
  position: relative;
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 51px 40px 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 165% auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  z-index: 2;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 23.48px;
  text-align: left;
  display: block;
  max-width: max-content;
}

.lots__link_underlined {
  position: relative;
  text-decoration: none;
}

.lots__link_underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin: 148px 24px 181px 24px;
  gap: 25px;
}

.about__column--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 240px;
  width: 240px;
  margin-bottom: 240px;
  margin-left: 47px;
  margin-top: 35px;
  border-radius: 50%;
}

.about__logo-image {
  height: 112px;
  width: 145px;
}

.about__title {
  margin-top: 136px;
  font-size: 40px;
  font-weight: bold;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.04px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 88px 50px;
}

.footer__address {
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: none;
}

.footer__link_underlined {
  position: relative;
  text-decoration: none;
}

.footer__link_underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.footer__menu-list {
  list-style: none;
  padding-left: 30px;
  margin: 0;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 1px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: underline;
  padding: 10px 0;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
